<!--Set up the header-->
<header class="col-12 container-fluid custom-header">
  <nav class="col-12 custom-nav">
    <a class="custom-nav-text" href="/">Home</a>
    <a class="custom-nav-text" href="/dashboard">Dashboard</a>
    {{#if logged_in}}
    <a class="custom-nav-text" id="logout" href="/login">Logout</a>
    {{else}}
    <a class="custom-nav-text" href="/login">Login</a>
    {{/if}}
  </nav>
  <div class="header-type col-12 col-md-3 text-center">The Tech Blog</div>
</header>
<!--Set up the main-->
<main class="container container-fluid">
  <div class="row mb-3">
    <div class="col-12">
      <div class="card custom-card mt-4">
        <div class="card-header custom-header bold-text blog-header"><span>{{title}}</span><span class="blog-info">Posted by {{user.username}} on {{format_date date_created}}</span></div>
        <div class="card-body">
          <p class="card-text">{{content}}</p>
        </div>
      </div>
    </div>
  </div>
  {{#each comments as |comment| }}
  <div class="row mb-3">
    <div class="col-12">
      <div class="card custom-card mt-4">
        <div class="card-header custom-header bold-text"></div>
        <div class="card-body">
          <p class="card-text mt-2">{{comment.content}}</p>
          <p class="mt=4">-{{comment.user.username}}, {{format_date comment.date_created}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</main>
